<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <img src="cloud.jpg"><br>
        <a href="/newTask">Add Task</a><br><br>
        <a href="/newDev">Add Developer</a><br><br>
        <a href="/listTasks">List Tasks</a><br><br>
        <a href="/listDevs">List Developers</a><br><br>
        <a href="/deleteTaskPage">Delete Task</a><br><br>
        <a href="/deleteCompletedPage">Delete Completed Tasks</a><br><br>
        <a href="/updateTaskPage">Update Task</a><br><br>
    </body>
</html>