<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h1>Task List</h1>
    </body>

    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Level</th>
            <th>Address</th>
        </tr>

        <% for (let i = 0; i < devList.length; i++){ %>
        <tr>
            <td>
                <%= devList[i]._id %>
            </td>
            <td>
                <%= devList[i].name.firstName %>
            </td>
            <td>
                <%= devList[i].name.lastName %>
            </td>
            <td>
                <%= devList[i].level %>
            </td>
            <td>
                State: <%= devList[i].address.state %><br>
                Suburb: <%= devList[i].address.suburb %><br>
                Street: <%= devList[i].address.street %><br>
                Unit: <%= devList[i].address.unit %>
            </td>
        </tr>
        <% } %>

    </table>
    <br>
    <a href="/">Home</a>
</html>