<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h1>Task List</h1>
    </body>

    <table>
        <tr>
            <th>Name</td>
            <th>Due Date</td>
            <th>Description</td>
        </tr>

        <% for (let i = 0; i < taskList.length; i++){ %>
        <tr>
            <td>
                <%= taskList[i].name %>
            </td>
            <td>
                <%= taskList[i].date %>
            </td>
            <td>
                <%= taskList[i].description %>
            </td>
        </tr>
        <% } %>

    </table>
    <br>
    <a href="/">Home</a>

</html>